*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  padding: 1rem;
  background-color: #f5f5f5;
}

form {
  max-width: 330px;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
}

textarea {
  overflow: auto;
  resize: vertical;
}

:disabled, [readonly] {
  background-color: #e9ecef;
  opacity: .9;
}

button {
  display: block;
  user-select: none;
  border: 1px solid transparent;
  width: 100%;
  background-color: tomato;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

code, pre {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}

hr {
  border-color: #e5e5e5;
  border-top: 0;
  margin: 1.2rem 0;
}

details summary {
  font-weight: 700;
  cursor: pointer;
  padding-bottom: .2rem;
}

details summary:hover {
  text-decoration: underline;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(-10px);}
  100%  {opacity: 1; transform: translateY(0)}
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ececec;
    background-color: #222831;
  }

  input,
  textarea {
    background-color: #222831;
    color: #ececec;
    border: 1px solid #30475e;
  }

:disabled, [readonly] {
  background-color: #30475e;
}
  button {
    background-color: tomato;
    color:#222831;
  }
  pre {
    display: block;
    font-size: 87.5%;
    color: #ececec;
  }
  hr {
    border-color: #30475e;
  }
}